<mat-toolbar color="primary">
  <span>Person Demo</span>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.first_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.age}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="favourite_color">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Favourite Color</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.favourite_color}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hobby">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hobby</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.hobby}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.first_name, row.last_name, row.age, row.favourite_color, row.hobby)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
